<h1 style = "color: green" align = 'center'>Different way of creating DataFrame</h1>

In [16]:
import pandas as pd
import numpy as np

## 1.From a CSV File:

In [17]:
import pandas as pd
df1 = pd.read_csv('2.weather_data.csv')
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## 2.From a Excel File:

In [19]:
df2 = pd.read_excel('2.weather_data.xlsx','Sheet1')
#df2 = pd.read_excel('2.weather_data.xlsx') works with First Sheet
df2

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

## 3.Using Dictionary of List:

In [20]:
weather_data = {
    'day' : ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature' : [32,35,28],
    'windspeed': [6,7,2],
    'event' : ['Rain', 'Sunny', 'Snow']
}

df3 = pd.DataFrame(weather_data)
df3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## 4.Using Dictionary of Tupple:

In [21]:
weather_data2 = {
    'day' : ('1/1/2017','1/2/2017','1/3/2017'),
    'temperature' : (32,35,28),
    'windspeed': (6,70000,2),
    'event' : ('Rain', 'Sunny', 'Snow')
}

df4 = pd.DataFrame(weather_data2)
df4

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35      70000  Sunny
2  1/3/2017           28          2   Snow

## 5.Using List of Tupple:

In [22]:
data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df5 = pd.DataFrame(data)
df5

          0   1  2      3
0  1/1/2017  32  6   Rain
1  1/2/2017  35  7  Sunny
2  1/3/2017  28  2   Snow

In [23]:
data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
col = ['day','temperature','windspeed','event']
df5 = pd.DataFrame(data,columns=col)
#df4 = pd.DataFrame(data,columns=['day','temperature','windspeed','event'])
df5

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## 6.Using List of Lists:

In [24]:
data = [
    ['1/1/2017',320000,6,'Rain'],
    ['1/2/2017',35,7,'Sunny'],
    ['1/3/2017',28,2,'Snow']
]
df6 = pd.DataFrame(data, columns = ['day','temperature','windspeed','event'])
df6

        day  temperature  windspeed  event
0  1/1/2017       320000          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## 7.Using List of Dictionary:

In [25]:
data2 = [
    {'day': '1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'day': '1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
    {'day': '1/3/2017','temperature':28,'windspeed':10000,'event':'Snow'}
]
df7 = pd.DataFrame(data2)
df7

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28      10000   Snow

## 8.From a NumPy Array:

In [15]:
import pandas as pd
import numpy as np
data = np.array([[1, 2, 3], [4, 5, 6]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6

## 9.Using random data:

In [14]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0, 100, size=(5, 3)), columns=['A', 'B', 'C'])
df

    A   B   C
0  67  67  96
1  68  69  33
2  61  41  53
3  88  19  84
4  26  20  11

## 10.From a Dictionary of Series:

In [27]:
import pandas as pd
data = {'A': pd.Series([1, 2, 3]), 'B': pd.Series([4, 5, 6]),'C':pd.Series([12,14,18])}
df10 = pd.DataFrame(data)
df10

   A  B   C
0  1  4  12
1  2  5  14
2  3  6  18